h1, h2, h3 {
    font-family: 'Fredoka', sans-serif;
}

h2 {
    color: #25256f;
}

header {
    background-color: #25256f;
    color: #f7ebd8;
    border: solid #25256f 10px;
}

main {
    background-color: #f7ebd8;
    display: flex;
}

.businesses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 20px 20px; */
}

.business-card {
    border: 5px solid #25256f;
    padding: 0 10px;
    margin: 5px;
    width: 20%;
    min-width: 100px;
    border-radius: 14px;
}

.nyAndManufacturing {
    display: flex;
    justify-content: space-evenly;
}

.mainDiv {
    width: 75%;
}

aside {
    border: 4px solid mediumslateblue;
    border-radius: 14px;
    width: 25%;
    margin: 5px;
}

.agent-card{
    border: 5px solid #25256f;
    padding: 0 10px;
    margin: 5px;
    min-width: 100px;
    border-radius: 14px;
}

input {
    margin: 5px;
}